:root {
	--white: #fcfcfc;
	--light: #868b8f;
	--medium: #272b30;
	--dark: #1b1d1f;
	--accent1: #FFAD00;
	--accent2: #0dcaf0;
}

.brand-logo {
	color: var(--accent1);
}

.brand-logo:hover,
.page-anchor:hover {
	color: var(--accent2);
}
