:root {
	--white: #fcfcfc;
	--light: #868b8f;
	--medium: #272b30;
	--dark: #1b1d1f;
	--accent1: #FFAD00;
	--accent2: #9CFFEA;
}

/*
font-family: 'Source Code Pro',
monospace;
font-family: 'Source Sans 3',
sans-serif;
*/