:root {
	--white: #fcfcfc;
	--light: #868b8f;
	--medium: #272b30;
	--dark: #1b1d1f;
	--accent1: #FFAD00;
	--accent2: #9CFFEA;
}

html,
body {
	font-family: "Roboto", sans-serif;
	background: var(--dark);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* NAVIGATION */
nav {
	background: var(--medium);
	width: 100%;
	height: 62px;
	padding: 8px 0
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a {
    color: var(--white);
	text-decoration: none;
	cursor: pointer;
}

.logo a{
	color: var(--accent1);
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 0 64px;
}

ul {
	list-style: none;
	display: flex;
    margin: 0 64px 0 0;
}

li {
	padding-right: 32px;
}

li:nth-child(4) {
	padding-right: 0;
}

li a:hover,
li a:active {
	/* border-top: 1px solid var(--accent2); */
	color: var(--accent2);
}
