@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

:root {
	--light: #86868b;
	--medium: #333;
	--dark: #1d1d1f;
	--accent1: #f5ba00;
	--accent2: #7ec2ba;
	--accent3: #d96b6a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	background: #f5f5f7;
	padding-top: 6rem;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 5%;
	height: 6rem;
	background: #141414;
	position: fixed;
	top: 0;
}

.logo {
	cursor: pointer;
}

nav ul {
	display: flex;
	list-style: none;
	text-transform: lowercase;
}

nav ul li {
	padding-left: 4rem;
}

li a {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 300;
	text-decoration: none;
	cursor: pointer;
	transition: 0.2s all;
}

li a.active {
	color: var(--light);
}

li a:hover {
	color: var(--light);
}

header {
	background: #fff;
	padding: 4rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

.hero {
	padding: 4rem;
	font-size: 1rem;
	text-align: center;
	line-height: 1.7;
	display: grid;
	align-content: center;
}

.hero h1 {
	color: var(--dark);
	font-size: 7rem;
	font-weight: 700;
	line-height: 8.4rem;
}

.hero h2 {
	font-size: 2.6rem;
	line-height: 3.8;
	font-weight: 300;
	color: var(--dark);
}

.hero h3 {
	font-size: 3.2rem;
	line-height: 3.6rem;
	font-weight: 400;
	color: var(--light);
}

.selfie {
	width: 100%;
	height: auto;
	border-radius: 3rem;
	display: block;
}

/*
#about {
	margin: 14.25rem 4rem;
}

.mainAbout {
	color: var(--accent3);
	font-size: 5.6rem;
	line-height: 6rem;
	font-weight: 400;
	padding: 0 0 0 4rem;
}

.me {
	margin: 2rem 4rem 4rem 4rem;
}

.me p {
	color: var(--dark);
	font-size: 2.4rem;
	line-height: 3.2rem;
	font-weight: 400;
	width: clamp(45ch, 50%, 75ch);
}

.me span {
	color: var(--accent3);
	font-size: 2.4rem;
	line-height: 3.2rem;
	font-weight: 400;
}

.info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
}

.skills {
	background: #fff;
	border-radius: 3rem;
	padding: 3rem;
}

.skills h3 {
	color: var(--light);
	font-size: 2.1rem;
	line-height: 2.5rem;
	font-weight: 400;
	padding-bottom: 1rem;
}

.info p {
	color: var(--dark);
	font-size: 1.9rem;
	line-height: 2.7rem;
	font-weight: 400;
	width: clamp(45ch, 50%, 75ch);
}

.skills span {
	color: var(--accent3);
	font-size: 1.9rem;
	line-height: 2.7rem;
	font-weight: 400;
}

.skills li {
	color: var(--accent3);
	font-size: 1.9rem;
	line-height: 2.7rem;
	font-weight: 400;
	list-style-type: none;
}

.thumbnail {
	width: 25%;
	height: auto;
	border-radius: 3rem;
	display: block;
}
*/
